/*Modal*/


/*Modal Login*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.modal {
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.container-input-field {
    margin-bottom: 20px;
    position: relative;
}


/*MODIFIED BY EVA 14-04-2021*/

.close {
    position: absolute;
    top: 5px;
    right: 20px;
    height: 30px
}

.col-gambar {
    padding-left: 2em;
    padding-top: 8em;
    padding-bottom: 8em;
    flex: 1 0 30%;
    max-width: 30%;
    background-image: url('../img/Banner.png');
    border-radius: 15px 0 0 15px;
}

.col-login {
    flex: 1 0 70%;
    max-width: 70%;
    padding-left: 0;
    border-radius: 15px 15px 0 0;
}

.container-form {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 5em;
    padding-left: 5em;
    background: #FFFFFF;
    border-radius: 0 15px 15px 0;
}

.container-form h1 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    color: black;
}

.container-form span {
    margin-left: 0.5em;
    color: #F1B213;
}


/*CREATED BY EVA 13-04-2021*/

.container-form .error-msg {
    color: #B2002B;
    display: none;
    font-size: small;
    margin-top: 14px;
}

.container-form p {
    font-weight: normal;
    font-size: 1em;
    line-height: 1em;
    color: black;
    margin-bottom: 2em;
}

.container-form label {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    color: black;
}


/*MODIFIED BY EVA 13-04-2021*/

.container-form .text-input {
    display: block;
    width: 100%;
    height: 2.5em;
    border: unset;
    background: #EFEFEF;
    border-radius: 0.4em;
    padding-left: 0.4em;
}

.container-form .input-alamat {
    width: 100%;
    height: 5em;
}

.container-form .remember {
    display: inline;
    margin-right: 15em;
}

.container-form .btn {
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    background: linear-gradient(180deg, #FECC5D 0%, #FE9E32 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.4em;
    color: #fff;
}


/*Modal Daftar*/

.alamat-text {
    margin-bottom: 1.2em;
}


/*MODIFIED BY EVA 13-04-2021*/

.container-form select {
    display: block;
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.4em;
    background: #EFEFEF;
}

.container-form .tc {
    display: inline;
}

.tc span {
    color: red;
    margin-left: 0.5em;
}

.modal-daftar .container-form {
    height: 30rem;
    overflow-y: auto;
}


/* .container-form .show-pass {
    background-image: url(img/show_pass_icon.png);
} */

.show-pass-icon {
    position: absolute;
    top: 22px;
    right: 10px;
}